.column {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: auto;
}

.row1 {
  display: flex;
  justify-content: space-between;
  background-color: #6792b7;
  box-sizing: border-box;
  width: 100%;
  height: 80vh;
}

.test-wrapper {
  border-radius: 25px;
  border: 3px solid #241E19;
  background-color: #c6dff4 ;
  padding: 20px;
  width: 42%;
  height: 60vh;
  margin: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.surveybutton {
  border-radius: 15px;
  border: 3px solid #6db474;
  background: #9bcfaa;
}

.text {
  margin-top: 30px;
  font-size: 25px;
  color: #6db474;
}

p {
  font-size: 25px;
}

.join-wrapper {
  border-radius: 25px;
  border: 3px solid #241E19;
  background-color: #c6dff4;
  padding: 20px;
  width: 42%;
  height: 60vh;
  margin: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.selectize-control {
  width: 80%;
}

.submitbutton {
  border-radius: 15px;
  border: 3px solid #6db474;
  background: #9bcfaa;
  margin-top: 20px;
  width: 22%;
}

@media (min-width: 600px) {
  h1.text {
    font-size: 40px;
  }
  p.text {
    font-size: 200%;
  }
}

hr.solid {
  border-top: 3px solid #bbb;
}

.row2 {
  display: flex;
  justify-content: space-between;
  background-color: #c6dff4;
  gap: 20px;
  box-sizing: border-box;
  width: 100%;
  height: 80vh;
}