.column {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: auto;
}

.row1 {
  display: flex;
  justify-content: space-between;
  background-color: #6792b7;
  box-sizing: border-box;
  width: 100%;
  height: 80vh;
}

.survey-wrapper {
  border-radius: 25px;
  border: 5px solid #241E19;
  background-color: #c6dff4 ;
  padding: 20px;
  width: 60%;
  height: auto;
  margin: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

