<!DOCTYPE html>
<html lang="en">


<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="{{ url_for('static', filename='h.ico') }}">
	<title> Hobbyists </title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
</head>

<body class="site-wrapper">
	<header class="header">
		<a href="/"><h1>Hobbyists</h1></a>
  	{% if current_user.is_authenticated %}
  		<div class="account-container">
			<h2><a href="/account">{{ current_user.username }}</a></h2>
		</div>
		{% else %}
			<nav class="auth-nav">
		  	<a href="/join"><button class="button">Sign up</button></a>
		  	<a href="/login"><button class="button">Log in</button></a>
		  </nav>
		{% endif %}
	</header>
	{% with messages = get_flashed_messages(with_categories=True) %}
		{% if messages %}
			<ul class="flashes">
				{% for category, message in messages %}
					<li  class="{{ category }}">{{ message }}</li>
				{% endfor %}
			</ul>
		{% endif %}
	{% endwith %}
	<main id="content" class="main" role="main">
		{% block content %}
		{% endblock %}
	</main>
</body>

</html>