<html>

<link rel="shortcut icon" href="{{ url_for('static', filename='h.ico') }}">

<head>
	<title> Hobbyists </title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
* {
  box-sizing: border-box;
}

.template {
	text-align: center;
	background-color: #E8C1A0;
}

.topbox {
	border-radius: 10px 10px 10px 10px;
	background-color: #6E260E;
	opacity: 0.7;
	height: 25%;
	width: 70%;
	margin: 0 auto;
}

</style>
</head>



<body class="template">

	<div id="content", name="content", class="main">
		{% block content %}
		{% endblock %}
	</div>
</body>

</html>