{% extends 'base.html' %}

{% block content %}
<style>
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
  float: left;
  padding: 15px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

img.resize {
  max-width: 40%;
  max-height: 40%;
}

.button {
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  cursor: pointer;
}

@media (min-width: 600px) {
  .button {
    padding: 15px 32px;
    font-size: 25px;
  }
}

.button:hover {
  background-color: white;
  color: black;
}

.button1 {
  border-radius: 15px;
  border: 3px solid #4EDA16;
  background: #4EDA16;
}

.leftcolumn {
	border-radius: 15px;
	height: 75%;
	width: 25%;
	

}

.middle {
  border-radius: 25px;
  border: 5px solid #241E19;
  background-color: white;
  height: 75%;
  width: 75%;
  opacity: 0.7;
  position: absolute;
  left: 50px;
  padding: 20px;
  box-sizing: border-box;
}

@media (min-width: 600px) {
  .middle {
    height: 70%;
    width: 50%;
    position: relative;
    left: 8.33%;
  }
}

.text {
  font-size: 25px;
}

@media (min-width: 600px) {
  h1.text {
    font-size: 40px;
  }
  p.text {
    font-size: 200%;
  }
}

.h1f {
  margin-top: 30px;
  color: #422B17;
}
</style>

<div class="header">
  <img class="resize" src={{ url_for('static', filename='logo.png') }}>
</div>

<div class="row">
  <div class="col-2"></div>
  <div class="col-10 middle">
    <h1 class="h1f text">Welcome to Hobbyists</h1>
    <div style="margin-bottom: 10px;">
      <p class="text">Already know your hobbies? Join us and share them!</p>
      <a href="/join"><button class="button button1">Join</button></a>
    </div>
    <div style="margin-top: 80px;">
      <p class="text">Looking for hobbies? Take our quiz to find out what's best for you!</p>
      <a href="/survey"><button class="button button1">Start Test</button></a>
    </div>
  </div>  
</div>

{% endblock %}
