{% extends 'base.html' %}



{% block content %}
<style>



.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
  float: left;
  padding: 15px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

img.resize {
  max-width:50%;
  max-height:50%;
}

.button {
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  cursor: pointer;
}

@media (min-width: 600px) {
	.button {
		border: none;
	  color: white;
	  padding: 15px 32px;
	  text-align: center;
	  text-decoration: none;
	  display: inline-block;
	  font-size: 25px;
	  cursor: pointer;
	}
}

.button:hover {
	background-color: white;
	color: black;
}

.button1 {
	border-radius: 15px 15px 15px 15px;
	border: 3px solid #4EDA16;
	background: #4EDA16;
	position: absolute;
	bottom: 40;
	right: 62px;
} 

@media (min-width: 600px) {
		.button1 {
		border-radius: 15px 15px 15px 15px;
		border: 3px solid #4EDA16;
		background: #4EDA16;
		position: absolute;
		bottom: 40;
		right: 40%;
	} 
}


.middle{
	border-radius: 25px 25px 25px 25px;
	border: 5px solid #241E19;
	background-color: white;
	height: 75%;
	width: 75%;
	opacity: 0.7;
	position: absolute;
	left: 50;
}

@media (min-width: 600px) {
	.middle{
		border-radius: 25px 25px 25px 25px;
		border: 5px solid #422B17;
		background-color: white;
		height: 70%;
		width: 50%;
		opacity: 0.7;
		position: relative;
		left: 8.33%;
	}
}

.text {
	font-size: 25;
}

@media (min-width: 600px) {
	h1.text {
		font-size: 40;
	}

	p.text {
		font-size: 200%;
	}
}

.h1f {
	margin-top: 30px;
	color: #422B17;
}
</style>

<div class="header">
	<img class="resize"src={{ url_for('static', filename='logo.png') }}>
</div>

<div class="row">

	<div class="col-2">

	</div>

	<div class="col-10 middle">
		<h1 class="h1f text">Welcome to Hobbyists</h1>
		<p class="text" style="margin-top:70;"> Looking for hobbies? Take our quiz to find out what's best for you!</p>
		<a href="/survey"><button class="button button1">Start Test</button></a>
	</div>	

</div>

{% endblock %}